@font-face {
  font-family: 'gilroylight';
  src: url('../assets/fonts/gilroy-light-webfont.woff2') format('woff2'),
    url('../assets/fonts/gilroy-light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'gilroylight', sans-serif;
  font-weight: normal;
}

.ff-gilroy {
  font-family: 'gilroylight', sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

.bg-dark-blue {
  background-color: #223A59;
}

.bg-orange {
  background-color: #E78159;
}

.bg-green {
  background-color: #649D7E;
}

.bg-fuchsia {
  background-color: #CF82BC;
}

.bg-dark-fuchsia {
  background-color: #90657B;
}

.w-1440 {
  max-width: 1440px;
}

.custom-link {
  all: unset;
  padding: 8px 10px;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 8px;
  cursor: pointer;
}

.rounded-20 {
  border-radius: 20px;
}